# build output
/dist
/.astro

# dependencies
/node_modules

# environment
.env
.env.*.local

# local original image files, if I ever need to modify those in public
/original-images

# editor / os
.DS_Store
*.pem

# logs
npm-debug.log*

# typescript
*.tsbuildinfo

# netlify
.netlify

# playwright
/test-results
/playwright-report
/blob-report
/.playwright-mcp
