.carouselComponent.aboutCarousel {
  margin-top: 48px;
}

.carouselComponent.aboutCarousel .customThumbnails {
    display: flex !important;
    flex-direction: column;
    align-items: stretch;
    margin-right: 36px;
    padding-left: 0;
}

.carouselComponent.aboutCarousel .slick-list {
  display: block;
  flex: 1;
  margin: -50px 0 -60px;
  padding: 50px 0 60px;
}

@media (max-width: 1075px) {
  .carouselComponent.aboutCarousel .customThumbnails {
    margin-right: 24px;
  }
}

.carouselComponent.aboutCarousel > div {
    display: flex;
    flex-direction: row-reverse;
}

.carouselComponent.aboutCarousel .customThumbnails .tab,
.carouselComponent.aboutCarousel .backIconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  border: 2px solid var(--background-secondary-color);
  border-radius: 3px;
  cursor: pointer;
  justify-content: flex-start;
}

.carouselComponent.aboutCarousel .customThumbnails .tab {
  gap: 12px;
}

.carouselComponent.aboutCarousel .customThumbnails .tab.hidden {
  display: none;
}

.carouselComponent.aboutCarousel .customThumbnails .tab.nested {
  padding-left: 32px;
}

.carouselComponent.aboutCarousel ul.customThumbnails {
  list-style: none;
}

.carouselComponent.aboutCarousel ul.customThumbnails li,
.carouselComponent.aboutCarousel ul.customThumbnails p {
  margin: 0;
}

.carouselComponent.aboutCarousel ul.customThumbnails li {
  padding: 0;
  width: 300px;
}

.carouselComponent.aboutCarousel .customThumbnails .slick-active .tab:not(.neverChosen) {
    border: 2px solid var(--primary-color) !important;
}

.carouselComponent.aboutCarousel .customThumbnails .tab:hover {
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
}

.carouselComponent.aboutCarousel .icon,
.carouselComponent.aboutCarousel .icon svg {
  width: 24px;
  height: 24px;
}

.carouselComponent.aboutCarousel.businessTransactions .icon,
.carouselComponent.aboutCarousel.businessTransactions .icon svg {
  width: 24px;
}

.carouselComponent.aboutCarousel .icon {
  width: 24px;
  height: 24px;
  color: var(--primary-color);
}

.carouselComponent.aboutCarousel .icon,
.carouselComponent.aboutCarousel .dropdownIcon {
  color: var(--primary-color);
}

.carouselComponent.aboutCarousel .dropdownIcon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselComponent.aboutCarousel .dropdownIcon svg {
  height: 14px;
}

.carouselComponent.aboutCarousel .dropdownIcon,
.carouselComponent.aboutCarousel .dropdownIcon svg {
  width: 14px;
}

.carouselComponent.aboutCarousel .customThumbnails p {
    padding-top: 0 !important;
    font-weight: 500;
    line-height: normal !important;
    color: var(--font-primary-color) !important;
    min-width: 170px !important;
    width: 100%;
    text-align: left;
    flex: 1;
}

.carouselComponent.aboutCarousel .backIconContainer {
  display: none;
  position: absolute;
  cursor: pointer;
  color: var(--primary-color);
}

.carouselComponent.aboutCarousel .backIconContainer:hover {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.carouselComponent.aboutCarousel .backIconContainer.top {
  left: 0;
  top: -30px;
}

.carouselComponent.aboutCarousel .backIconContainer.bottom {
  left: 0;
  bottom: -20px;
  transform: translateY(100%);
}

.carouselComponent.aboutCarousel li {
  margin: 0;
  margin-top: 4px;
}

.carouselComponent.aboutCarousel p {
  margin: 0;
  margin-top: 12px;
}

.carouselComponent.aboutCarousel .clientsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
}

.carouselComponent.aboutCarousel h4 {
  text-align: left;
  width: 100%;
  max-width: 450px;
}

.carouselComponent.aboutCarousel .fade-bounce-left-exit-done {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 850px) {
  .carouselComponent.aboutCarousel .customThumbnails {
    display: flex !important;
    margin-right: 0;
    width: 100%;
    align-items: center;
  }

  .carouselComponent.aboutCarousel .customThumbnails li {
    width: 100% !important;
    max-width: 400px;
  }

  .carouselComponent.aboutCarousel .slideTrue .slick-list {
    visibility: hidden;
  }

  .carouselComponent.aboutCarousel .slideFalse .slick-list {
    visibility: visible;
  }

  .carouselComponent.aboutCarousel .slide {
    position: relative;
  }

  .carouselComponent.aboutCarousel .backIconContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .carouselComponent.aboutCarousel h4 {
    text-align: center;
  }

  .carouselComponent.aboutCarousel .slick-list {
    padding: 50px 0 90px;
  }
}
