.aboutPage {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutPage .imageContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
}

.aboutPage .bannerImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
  flex: 1;
}

.aboutPage .imageContainer .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, .3);
}

.aboutPage .imageText {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 100%;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
  padding: 48px 0;
}

.aboutPage .imageText h1 {
  font-size: 48px;
  margin: 0;
}

.aboutPage .imageText h2 {
  font-size: 24px;
}

.aboutPage .profile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 64px;
}

.aboutPage .profileImages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutPage .profileImages .badgeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutPage .squareProfileImage {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 16px;
}

.aboutPage .avPreeminentBadge {
  width: 200px;
  height: auto;
}

.aboutPage .superLawyersBadge {
  width: 120px;
  height: auto;
  margin-bottom: 8px;
}

.aboutPage .pagePadding {
  padding: 50px 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutPage .contentSection,
.aboutPage .carouselSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutPage .contentSection {
  background-color: var(--background-primary-color);
  max-width: 1200px;
}

.aboutPage .carouselSection {
  background-color: var(--background-secondary-color);
}

.aboutPage .carouselSection .aboutCarousel {
  max-width: 1000px;
  width: 100%;
}

.aboutPage p {
  color: var(--font-secondary-color);
  line-height: 24px;
}

.aboutPage h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 64px;
  margin-top: 64px;
}

.aboutPage h3 {
  text-align: center;
  margin-bottom: 24px;
}

.aboutPage h3 {
  margin-top: 0 !important;
}

.aboutPage .slideFalse h3 {
  margin-top: 24px;
}

.aboutPage h4 {
  margin: 18px auto;
}

.aboutPage h3,
.aboutPage h4 {
  font-weight: 600;
}

.aboutPage p {
  margin: 12px 0;
}

.aboutPage .introduction .desktop,
.aboutPage .introduction .mobile {
  margin: 12px 0 0;
  color: black;
}

.aboutPage li {
  margin: 4px 0;
}

.aboutPage ul {
  list-style: disc;
  padding-left: 32px;
}

.aboutPage ul.nested {
  list-style: circle;
}

.aboutPage li {
  padding-left: 4px;
}

.aboutPage .desktop {
  display: inherit;
}

.aboutPage .mobile {
  display: none;
}

@media (max-width: 1075px) {
  .aboutPage .profile {
    gap: 50px;
  }
}

@media (max-width: 850px) {
  .aboutPage .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutPage .profileImages {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .aboutPage .profileImages .squareProfileImage {
    margin: 0;
  }

  .aboutPage .desktop {
    display: none !important;
  }

  .aboutPage .mobile {
    display: block;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .aboutPage .profileImages {
    flex-direction: column;
    gap: 8px;
  }
}
