.contactUsForm {
    padding: 36px;
    max-width: 1200px;
}

.contactUsForm,
.contactUsForm .inputFields {
    background-color: var(--background-primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 36px;
}

.contactUsForm .inputFields label {
    background-color: var(--background-primary-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contactUsForm input,
.contactUsForm textarea {
    border: 1px solid var(--input-border-color);
    display: block;
    margin-top: 12px;
    width: 100%;
    padding: 8px;
    background-color: var(--background-primary-color);
}

.contactUsForm input:focus-visible,
.contactUsForm textarea:focus-visible {
    border: 1px solid var(--primary-hover-color);
    outline: 1px solid var(--primary-hover-color);
}

.contactUsForm textarea {
    resize: none;
}

.contactUsForm .inputFields .input,
.contactUsForm .inputFields .textareaInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.contactUsForm .inputError {
    width: 100%;
}

.contactUsForm .inputError p,
.contactUsForm .formError {
    color: var(--error-color) !important;
    padding-top: 4px !important;
    height: 28px !important;
    margin-bottom: -28px !important;
}

.contactUsForm .buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactUsForm button {
    width: 100px;
    transition: 500ms ease;
}

.contactUsForm button.pending {
    background-color: var(--loading-button);
    cursor: default;
}

.contactUsForm button.success {
    background-color: var(--success-button);
    cursor: default;
}

.contactUsForm button.failure {
    background-color: var(--error-color);
    cursor: default;
}
