.carouselComponent.expertiseCarousel {
  scroll-margin: 100px;
}

.carouselComponent.expertiseCarousel .customTabs {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 36px;
    gap: 1px;
}

@media (max-width: 1075px) {
  .carouselComponent.expertiseCarousel .customTabs {
    margin-right: 24px;
  }
}

.carouselComponent.expertiseCarousel > div {
    display: flex;
    flex-direction: row;
}

.carouselComponent.expertiseCarousel .customTabs .tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding: 4px 12px;
    border: 2px solid var(--background-primary-color);
    background-color: var(--background-primary-color);
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

.carouselComponent.expertiseCarousel .customTabs .slick-active .tab {
    border: 2px solid var(--primary-color) !important;
}

.carouselComponent.expertiseCarousel .customTabs .tab:hover,
.carouselComponent.expertiseCarousel .customTabs .tab:focus-visible {
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    transition: 500ms ease;
}

.carouselComponent.expertiseCarousel .icon,
.carouselComponent.expertiseCarousel .icon svg {
  width: 24px;
  height: 24px;
}

.carouselComponent.expertiseCarousel.businessTransactions .icon,
.carouselComponent.expertiseCarousel.businessTransactions .icon svg {
  width: 24px;
}

.carouselComponent.expertiseCarousel .icon {
  width: 24px;
  height: 24px;
  color: var(--primary-color);
}

.carouselComponent.expertiseCarousel .customTabs p {
    padding-top: 0 !important;
    font-weight: 500;
    line-height: normal !important;
    color: var(--font-primary-color) !important;
    min-width: 175px !important;
    width: 100%;
    text-align: left;
    flex: 1;
}

@media (max-width: 850px) {
  .carouselComponent.expertiseCarousel > div {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .carouselComponent.expertiseCarousel .customTabs {
    margin-right: 0;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .carouselComponent.expertiseCarousel .customTabs li {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .carouselComponent.expertiseCarousel .customTabs li a {
    height: 100%;
  }

  .carouselComponent.expertiseCarousel {
    scroll-margin: 75px;
  }
}

@media (max-width: 550px) {
  .carouselComponent.expertiseCarousel .customTabs {
    display: flex !important;
  }
}
