:root {
  --primary-color: #1E275E;
  --primary-hover-color: #2D3A8F;
  --navbar-background-color: #1E275E;
  --navbar-hover-color: #2D3A8F;
  --navbar-font-color: #fff;
  --footer-font-color: #fff;
  --footer-button-color: #1E275E;
  --footer-button-background-color: #FDB613;
  --footer-button-hover-background-color: #FDD577;
  --secondary-color: #3b4147;
  --footer-background-color: #1E275E;
  --accent-color: #FDB613;
  --accent-hover-color: #FDD577;
  --background-primary-color: #fff;
  --background-secondary-color: #f7f7f7;
  --background-accent-color: #E6ECF4;
  --font-primary-color: #333;
  --font-secondary-color: #505050;
  --font-image-color: #fff;
  --font-button-color: #fff;
  --button-image-background: #1E275E;
  --button-image-background-hover: #2D3A8F;
  --button-image-font: #fff;
  --google-maps-color: #1a73e8;
  --input-border-color: #6F6F6F;
  --focused-input-border-color: #222222;
  --error-color: #A60000;
  --loading-button: #505050;
  --success-button: #005E00;
}

.dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #FDB613;
    --primary-hover-color: #FDD577;
    --navbar-background-color: #1E275E;
    --navbar-hover-color: #2D3A8F;
    --navbar-font-color: #fff;
    --footer-font-color: #fff;
    --footer-button-color: #1E275E;
    --footer-button-background-color: #FDB613;
    --footer-button-hover-background-color: #FDD577;
    --secondary-color: #3b4147;
    --footer-background-color: #1E275E;
    --accent-color: #2D3A8F;
    --accent-hover-color: #1E275E;
    --background-primary-color: #000;
    --background-secondary-color: #101328;
    --font-primary-color: white;
    --font-secondary-color: lightgrey;
    --font-image-color: #fff;
    --font-button-color: #000;
    --button-image-background: #1E275E;
    --button-image-font: #fff;
    --google-maps-color: #77abff;
    --input-border-color: lightgrey;
    --focused-input-border-color: white;
    --error-color: #A60000;
    --loading-button: #505050;
    --success-button: #005E00;
  }

  .dark {
    display: block;
  }

  .light {
    display: none;
  }
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background-color: var(--footer-background-color);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-ibm-plex-serif), Georgia, "Times New Roman", serif;
  font-weight: 400;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, label, input, textarea {
  color: var(--font-primary-color);
}

.imageContainer h1, .imageContainer h2, button, .button {
  color: var(--font-image-color);
}

.imageContainer button, .imageContainer .button {
  background-color: var(--button-image-background);
  color: var(--button-image-font);
}

.imageContainer button:hover,
.imageContainer .button:hover,
.imageContainer button:focus-visible,
.imageContainer .button:focus-visible {
  background-color: var(--button-image-background-hover);
  transition: 500ms ease;
}

div, p, li {
  color: var(--font-secondary-color);
}

div, p, li, label, input, textarea {
  font-family: var(--font-opensans), Arial, sans-serif;
  margin: 0;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--font-primary-color);
}

.button {
  display: block;
  width: max-content;
}

button, .button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 3px;
  border: none;
  background-color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-opensans), Arial, sans-serif;
  color: var(--font-button-color);
}

button:hover,
.button:hover,
button:focus-visible,
.button:focus-visible {
  background-color: var(--primary-hover-color);
  transition: 500ms ease;
}

main {
  background-color: var(--background-primary-color);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (max-width: 1075px) {
  .pagePadding {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}

@media (max-width: 850px) {
  h1 {
    font-size: 60px !important;
  }
}

@media (max-width: 750px) {
  h1 {
    font-size: 48px !important;
  }

  .pagePadding {
    padding-left: 37.5px !important;
    padding-right: 37.5px !important;
  }
}

@media (max-width: 575px) {  
  .pagePadding {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  color: transparent;
  background-color: transparent;
  opacity: 0;
}

/* Animations */

.fade-bounce-down-enter {
  opacity: 0;
  visibility: visible !important;
  transform: translateY(-30%);
}

.fade-bounce-down-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: 500ms ease;
  visibility: visible !important;
}

.fade-bounce-down-enter-done {
  opacity: 1;
  transform: translateY(0);
  visibility: visible !important;
}

.fade-bounce-down-exit {
  opacity: 1;
  transform: translateY(0%);
  visibility: visible !important;
}

.fade-bounce-down-exit-active {
  opacity: 0;
  transform: translateY(-30%);
  transition: 500ms ease;
  visibility: visible !important;
}

.fade-bounce-down-exit-done {
  opacity: 0;
  transform: translateY(-30%);
  visibility: hidden;
}

@media (max-width: 850px) {
  .aboutPage .carouselComponent.aboutCarousel .customTabs.fade-bounce-left-enter {
      opacity: 0 !important;
      visibility: visible !important;
      transform: translateX(-30%);
  }

  .aboutPage .carouselComponent.aboutCarousel .customTabs.fade-bounce-left-enter-active {
      opacity: 1 !important;
      transform: translateX(0) !important;
      transition: 1000ms ease !important;
      visibility: visible !important;
  }

  .aboutPage .carouselComponent.aboutCarousel .customTabs.fade-bounce-left-enter-done {
      opacity: 1 !important;
      transform: translateX(0) !important;
      visibility: visible !important;
  }

  .aboutPage .carouselComponent.aboutCarousel .customTabs.fade-bounce-left-exit {
      opacity: 1 !important;
      transform: translateX(0%) !important;
      visibility: visible !important;
  }

  .aboutPage .carouselComponent.aboutCarousel .customTabs.fade-bounce-left-exit-active {
      opacity: 0 !important;
      transform: translateX(-30%) !important;
      transition: 1000ms ease !important;
      visibility: visible !important;
  }

  .aboutPage .carouselComponent.aboutCarousel .customTabs.fade-bounce-left-exit-done {
      opacity: 0 !important;
      transform: translateX(-30%) !important;
      visibility: hidden !important;
      display: none !important;
  }

  .aboutPage .carouselComponent.aboutCarousel .customTabs.fade-bounce-left-exit-done a,
  .aboutPage .carouselComponent.aboutCarousel .customTabs.fade-bounce-left-exit-done button {
      opacity: 0 !important;
      visibility: hidden !important;
      display: none !important;
  }

  .carouselComponent.aboutCarousel .slick-track,
  .carouselComponent.aboutCarousel .slick-track * {
    transition: none !important;
  }

  .aboutPage .carouselComponent.aboutCarousel .slide.fade-bounce-left-enter {
      opacity: 0 !important;
      visibility: visible !important;
      transform: translateX(-30%) !important;
      display: inline-block !important;
      transition: 1000ms ease !important;
  }

  .aboutPage .carouselComponent.aboutCarousel .slide.fade-bounce-left-enter-active {
      opacity: 1 !important;
      transform: translateX(0) !important;
      transition: 1000ms ease !important;
      visibility: visible !important;
      display: inline-block !important;
  }

  .aboutPage .carouselComponent.aboutCarousel .slide.fade-bounce-left-enter-done {
      opacity: 1 !important;
      transform: translateX(0) !important;
      transition: 1000ms ease !important;
      visibility: visible !important;
      display: inline-block !important;
  }

  .aboutPage .carouselComponent.aboutCarousel .slide.fade-bounce-left-exit {
      opacity: 1 !important;
      transform: translateX(0%) !important;
      visibility: visible !important;
      transition: 1000ms ease !important;
  }

  .aboutPage .carouselComponent.aboutCarousel .slide.fade-bounce-left-exit-active {
      opacity: 0 !important;
      transform: translateX(-30%) !important;
      transition: 1000ms ease !important;
      visibility: visible !important;
      transition: 1000ms ease !important;
  }

  .aboutPage .carouselComponent.aboutCarousel .slide.fade-bounce-left-exit-done,
  .aboutPage .carouselComponent.aboutCarousel .slide {
      opacity: 0 !important;
      transform: translateX(-30%) !important;
      visibility: hidden !important;
  }

  .aboutPage .carouselComponent.aboutCarousel .slide.fade-bounce-left-exit-done button,
  .aboutPage .carouselComponent.aboutCarousel .slide.fade-bounce-left-exit-done a {
    opacity: 0 !important;
    visibility: hidden !important;
    display: none !important;
  }
}