:root {
  --primary-color: #133862;
  --primary-hover-color: #184981;
  --secondary-color: #3b4147;
  --tertiary-color: #222222;
  --background-primary-color: #fff;
  --background-secondary-color: #f7f7f7;
  --font-primary-color: #333;
  --font-secondary-color: #666;
  --font-tertiary-color: #fff;
  --google-maps-color: #1a73e8;
  --input-border-color: #bbb;
  --focused-input-border-color: #222222;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-prata), Georgia, "Times New Roman", serif;
  font-weight: 400;
  margin: 0;
}

div, p, li, label, input, textarea {
  font-family: var(--font-opensans), Arial, sans-serif;
  margin: 0;
  font-size: 16px;
  color: var(--font-primary-color);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--font-primary-color);
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 3px;
  border: none;
  background-color: var(--primary-color);
  color: var(--font-tertiary-color);
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-opensans), Arial, sans-serif;
}

button:hover {
  background-color: var(--primary-hover-color);
}

main {
  background-color: var(--background-primary-color);
  flex: 1;
  padding-top: 53.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
