.homePage {
  width: 100%;
  flex: 1;
}

.homePage .imageContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.homePage .heroImage {
  width: 100%;
  height: auto;
  height: calc(100vh - 56px - 56px - 50px);
  object-fit: cover;
}

.homePage .imageContainer .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, .2);
}

.homePage .imageText {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 100%;
  text-align: center;
  color: var(--font-tertiary-color);
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
  padding: 48px 0;
}

.homePage .imageText h1 {
  font-size: 48px;
  margin-bottom: 24px;
}

.homePage .imageText h2 {
  font-size: 24px;
}

.homePage .imageContainer button {
  padding: 8px 16px;
  background-color: var(--primary-color);
  font-size: 20px;
  margin-top: 24px;
  border-radius: 3px;
}

.homePage .imageContainer button:hover {
  background-color: var(--primary-hover-color);
}

.homePage .contentSection {
  padding: 50px 100px 30px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.homePage .contentSection .logoTitle {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: auto;
}

.homePage .contentSection p {
  color: var(--font-secondary-color);
  padding-top: 24px;
  line-height: 32px;
}

.homePage .contentSection h2 {
  font-size: 24px;
  text-align: center;
}

.homePage .contentSection h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 64px;
  margin-top: 64px;
}

.homePage .contentSection .practiceAreasSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homePage .contentSection .practiceAreaContainer {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.homePage .contentSection .practiceAreaContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
  text-align: center;
  margin-bottom: 32px;
}

.homePage .contentSection .practiceAreaContainer > div.fillEmptySpace {
  height: 0; 
  margin: 0;
}

.homePage .contentSection .practiceAreaContainer > div .icon {
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
  color: var(--primary-color);
}

.homePage .contentSection .practiceAreaContainer h3 {
  font-weight: 500;
  font-family: var(--font-opensans);
  font-size: 20px;
  line-height: 30px;
}




