nav {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: transparent;
  margin: 0;
  justify-content: center;
}

nav .pagePadding {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  padding: 0 85px;
}

nav li {
  display: flex;
}

nav a {
  padding: 16px;
  color: var(--navbar-font-color);
  border-radius: 3px;
}

nav a.highlighted,
nav a:hover,
nav a:focus-visible {
  background-color: var(--navbar-hover-color);
}

nav a.highlighted:focus-visible,
nav a.highlighted:hover {
  background-color: var(--navbar-background-color);
}

nav a:hover,
nav a:focus-visible {
  transition: 500ms ease;
}

nav .home {
  display: flex;
}

nav .home .homeLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

nav .home .homeLink img {
  width: auto;
  height: 28px;
  margin: -4px 0
}

nav .desktopMenu {
  display: flex;
  flex-direction: row;
}

nav .desktopMenu::before {
  content: '|';
  color: var(--navbar-font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  position: relative;
  bottom: 2px;
  width: 2px;
}

nav .barsContainer {
  display: none;
}

@media (max-width: 850px) {
  nav .pagePadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
    justify-content: space-between;
  }

  nav .desktopMenu {
    display: none;
  }

  nav .barsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 56px;
  }

  nav .dropdownContent a:hover,
  nav .dropdownContent a:focus-visible,
  nav .dropdownContent a.highlighted {
    background-color: var(--navbar-hover-color);
  }

  nav .barsContainer button:hover,
  nav .barsContainer button:focus-visible,
  nav .barsContainer.open button {
    background-color: var(--navbar-hover-color);
  }

  nav .barsContainer:hover,
  nav .barsContainer:focus-visible {
    transition: 500ms ease;
  }

  nav .barsIconContainer {
    width: 100%;
    height: 100%;
    padding: 6px 12px;
    cursor: pointer;
    color: var(--navbar-font-color);
    flex: 1;
    background-color: transparent;
  }

  nav .barsIconContainer svg {
    width: 28px;
    height: 28px;
    color: var(--navbar-font-color);
  }

  nav .dropdownContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    margin: 0;
    bottom: 0;
    right: 4px;
    translate: 0 calc(100% + 4px);
    background-color: var(--navbar-background-color);
    border-radius: 3px;
    width: 150px;
  }

  nav .dropdownContent a {
    padding: 12px 18px;
    text-align: left;
    border-radius: 3px;
    width: 100%;
  }

  nav .dropdownContent a:focus-visible {
    z-index: 1;
  }
}

@media (max-width: 750px) {
  
}
