nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--primary-color);
  margin: 0;
  justify-content: center;
}

nav .pagePadding {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 85px;
}

nav a {
  padding: 16px;
  color: var(--font-tertiary-color);
}

nav a.highlighted,
nav a:hover {
  background-color: var(--primary-hover-color);
}

nav .home {
  display: flex;
}

nav .home .homeLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

nav .home .homeLink img {
  width: auto;
  height: 28px;
  margin: -4px 0
}

nav .desktopMenu {
  display: flex;
  flex-direction: row;
}

nav .barsContainer {
  display: none;
}

@media (max-width: 850px) {
  nav .pagePadding {
    padding-left: 35px !important;
    padding-right: 35px !important;
  }

  nav .desktopMenu {
    display: none;
  }

  nav .barsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    position: relative;
    cursor: pointer;
  }

  nav .barsContainer:hover, nav .barsContainer.open {
    background-color: var(--primary-hover-color);
  }

  nav .barsIconContainer,
  nav .barsIconContainer svg {
    width: 28px;
    height: 28px;
    color: var(--font-tertiary-color);
  }

  nav .dropdownContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    margin: 0;
    bottom: 0;
    translate: 0 calc(100% + 4px);
    right: 0;
    background-color: var(--primary-color);
    border-radius: 3px;
    width: 150px;
  }

  nav .dropdownContent a {
    padding: 12px 18px;
    text-align: left;
    border-radius: 3px;
  }
}

@media (max-width: 750px) {
  nav .pagePadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
