.paymentPage {
  width: 100%;
  flex: 1;
}

.paymentPage .imageContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
}

.paymentPage .bannerImage {
  width: 100%;
  object-fit: cover;
  flex: 1;
}

.paymentPage .bannerImage,
.paymentPage .imageContainer .after {
  height: 400px;
}

.paymentPage .imageContainer .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, .3);
}

.paymentPage .imageText {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 100%;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
  padding: 48px 0;
}

.paymentPage .imageText h1 {
  font-size: 72px;
  margin: 0;
}

.paymentPage .imageText h2 {
  font-size: 24px;
}

.paymentPage .contentSection {
  padding: 50px 100px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 36px;
}

.paymentPage .contentSection h2 {
  margin-bottom: 12px;
}

.paymentPage .contentSection .text p:last-of-type {
  margin-bottom: 0px;
}

.paymentPage .button {
  margin-top: 24px;
}

.paymentPage .icon,
.paymentPage .icon svg {
  width: 76px;
  height: 76px;
  color: var(--primary-color);
}

@media (max-width: 1075px) {
  .paymentPage .contentSection {
    padding: 50px;
  }
}

@media (max-width: 750px) {
  .paymentPage .contentSection {
    padding: 50px 37.5px;
  }
}

@media (max-width: 575px) {
  .paymentPage .contentSection {
    padding: 50px 25px;
  }
}
