.paymentPage {
  width: 100%;
  flex: 1;
}

.paymentPage .imageContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
}

.paymentPage .bannerImage {
  width: 100%;
  min-height: 350px;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  flex: 1;
}

.paymentPage .imageContainer .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, .3);
}

.paymentPage .imageText {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 100%;
  text-align: center;
  color: var(--font-tertiary-color);
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
  padding: 48px 0;
}

.paymentPage .imageText h1 {
  font-size: 48px;
}

.paymentPage .imageText h2 {
  font-size: 24px;
}

.paymentPage .contentSection {
  padding: 50px 100px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paymentPage .contentSection p {
  color: var(--font-secondary-color);
  padding-top: 24px;
  line-height: 32px;
}

.paymentPage .contentSection h2 {
  font-size: 24px;
  text-align: center;
}

.paymentPage .contentSection h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 64px;
  margin-top: 64px;
}

.paymentPage button {
  margin-top: 24px;
}
